.header-img {
    background-image:
    linear-gradient( to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
    url('../../layout/images/main-image-brain.jpg');
    max-width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -50px;
}
.container{
    width: 80%; 
    height: 300px; 
    border-radius: 21px;
}
.logo {
    background-image: url('../../layout/images/icon-think.jpg');
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.navbar{
    background-color: rgb(18.09% 18.09% 18.09%);;
}
